.Header {
    background-color: black;
    color: white;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.Header-container {
    display: flex;
    align-items: baseline;
    max-width: 800px;
    margin: 0 auto;
}

.Header-brand {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-right: auto;
}

@media (max-width: 864px) {
    .Header-container {
        margin: 0 32px;
    }
}